<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}
    {{ form.submit }}
  </form>
  <p>Don't have an account? <a href="/register">Register here</a></p>
  <p><a href="/">Back to Home</a></p>
</body>
</html>

<!-- <form method="POST" action="{{ url_for('login') }}">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>
  </div>
  <div>
    <button type="submit">Login</button>
  </div> -->